.col-left, .col-right{
    height: 100vh;
}

.col-left{
    background: url(logo.jpg) no-repeat;
    background-position: center;
    margin-right: 50px;
}

.col-right{
    background-color:;
}

.col-right p{
    margin-left: 30px;
    margin-top: 100px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.leave-type{
    margin-left: 170px;
    width: 200px;
    display: inline-block;
    font-size: 20px;
    text-align-last: center;
    font-family: Comic Sans MS;
}

#one{
    display: inline-block;
}

.ending, .begin, .prefix-begin, .suffix-begin{
    margin-left: 30px;
    width: 200px;
}   

#fourr, #fiver, #three, #two{
    margin-top: 20px;
    display: inline-block;
}

#sixer{
    margin-top: 40px;
    display: inline-block;
}

#set{
    background: lightgray;
    margin-left: 150px;
    width: 300px;
    margin-top: -50px;
    text-align: center;
}

.ending{
    margin-left: 138px;
    text-align: center
}

.begin{
    margin-left: 99px;
    text-align: center;
}

.suffix-begin{
    margin-left: 32px;
    text-align: center
}

.prefix-begin{
    text-align: center;
}

#req{
    font-size: 10px;
    color: red;
    margin-top: -10px;
    margin-left: 500px;
}

/* CSS list for button */

.boton {
    width: 200px;
    height: 50px;
    margin: 150px 290px auto;
    display: block;
    position: relative;
}

.botontext {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    text-align: center;
    line-height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.twist {
    display: block;
    height: 100%;
    width: 25%;
    position: relative;
    float: left;
    margin-left: -4px;
}

.twist:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #fed5a9;
    bottom: 100%;
    position: absolute;
    transform-origin: center bottom 0px; 
    transform: matrix3d(1, 0, 0, 0, 
                        0, 0, -1, -0.003, 
                        0, 1, 0, 0, 
                        0, 0, 0, 1);
    
-webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); 
-moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); 
 -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); 
    transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); /* custom */
}

.twist:after {
    content: "";
    position: absolute;
    width: 100%;
    top: 100%;
    height: 100%;
    background: #9f7f5e;
    transform-origin: center top 0px;
    transform: matrix3d(1, 0, 0, 0, 
                        0, 1, 0, 0, 
                        0, 0, 1, -0.003, 
                        0, -50, 0, 1);
    
-webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); 
-moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); 
 -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); 
    transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); /* custom */
}

.boton:hover .twist:before {
    background: rgb(214, 214, 138);
    transform: matrix3d(1, 0, 0, 0, 
                        0, 1, 0, 0, 
                        0, 0, 1, 0.003, 
                        0, 50, 0, 1);
}

.boton:hover .twist:after {
    background: #dedae1;
    transform: matrix3d(1, 0, 0, 0, 
                        0, 0, -1, 0.003, 
                        0, 1, 0, 0, 
                        0, 0, 0, 1);
}

.boton .twist:nth-of-type(1) {
    margin-left: 0;
}

.boton .twist:nth-of-type(1):before,
.boton .twist:nth-of-type(1):after {
    transition-delay: 0s;
}

.boton .twist:nth-of-type(2):before,
.boton .twist:nth-of-type(2):after {
    transition-delay: 0.1s;
}

.boton .twist:nth-of-type(3):before,
.boton .twist:nth-of-type(3):after {
    transition-delay: 0.2s;
}

.boton .twist:nth-of-type(4):before,
.boton .twist:nth-of-type(4):after {
    transition-delay: 0.3s;
}

.boton .botontext:nth-of-type(1) {
    color: #3d3b40;
    bottom: 100%;
    transform-origin: center bottom 0px; 
    transform: matrix3d(1, 0, 0, 0, 
                        0, 0, -1, -0.003, 
                        0, 1, 0, 0, 
                        0, 0, 0, 1);
    
-webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); 
-moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); 
 -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); 
    transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); /* custom */
}

.boton:hover .botontext:nth-of-type(1) {
    transform: matrix3d(1, 0, 0, 0, 
                        0, 1, 0, 0, 
                        0, 0, 1, 0.003, 
                        0, 50, 0, 1);
}

.boton .botontext:nth-of-type(2) {
    color: #fff;
    top: 100%;
    transform-origin: center top 0px;
    transform: matrix3d(1, 0, 0, 0, 
                        0, 1, 0, 0, 
                        0, 0, 1, -0.003, 
                        0, -50, 0, 1);
    
-webkit-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); 
-moz-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); 
 -o-transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); 
    transition: all 500ms cubic-bezier(0.970, 0.000, 0.395, 0.995); /* custom */
}

.boton:hover .botontext:nth-of-type(2) {
    transform: matrix3d(1, 0, 0, 0, 
                        0, 0, -1, 0.003, 
                        0, 1, 0, 0, 
                        0, 0, 0, 1);
}